html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-custom {
    background-color: #0067b8;
}

.navbar-custom a,
.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .dropdown-toggle {
    color: #fff;
}
.navbar-custom a:hover,
.navbar-custom .nav-link:hover,
.navbar-custom .dropdown-toggle:hover {
    color: #dbe9fc;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}

.table-wrapper {
    overflow-x: auto;
}
/* Smaller checkbox column */
th.checkbox-col, td.checkbox-col {
    width: 40px;
    text-align: center;
}


.main-loader-overlay {
    position: fixed; /* Changed from absolute to fixed */
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#00f0ff, #8f00ff, #ff00c8, #00f0ff);
    mask: radial-gradient(farthest-side, transparent 60%, black 61%);
    -webkit-mask: radial-gradient(farthest-side, transparent 60%, black 61%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
